<!-- Slider -->

<div class="container mx-auto py-6">
  <!-- Slider -->
  <div data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "dotsItemClasses": "hs-carousel-active:bg-gray-700 hs-carousel-active:border-black size-3 border border-gray-400 rounded-full cursor-pointer dark:border-neutral-600 dark:hs-carousel-active:bg-blue-500 dark:hs-carousel-active:border-blue-500",
  "isAutoHeight": true
}' class="relative">
    <div class="hs-carousel relative overflow-hidden w-full min-h-96 bg-white rounded-lg">
      <div
        class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
        <div class="hs-carousel-slide">
          <div class="flex justify-center h-full bg-gray-100 dark:bg-neutral-900">
            <img src="/assets/image.png" alt="demo" class="w-full bg-cover bg-center ">
          </div>
        </div>
        <div class="hs-carousel-slide">
          <div class="flex justify-center h-full bg-gray-200 p-6 dark:bg-neutral-800">
            <span class="self-center text-4xl text-gray-800 transition duration-700 dark:text-white">Second slide</span>
          </div>
        </div>
        <div class="hs-carousel-slide">
          <div class="flex justify-center h-full bg-gray-300 p-6 dark:bg-neutral-700">
            <span class="self-center text-4xl text-gray-800 transition duration-700 dark:text-white">Third slide</span>
          </div>
        </div>
      </div>
    </div>

    <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
  </div>
  <!-- End Slider -->

</div>


<!-- End Slider -->
